
@page
@model bookApp.Pages.OrderModel
@{}

<div class="text-center">
    <h3>thank you</h3>
    <br>
    <br>
    <p>Thanks for using bookApp!</p>
    <br>
    <a class="btn btn-primary" asp-controller="Home">return to home page</a>
    <br>
</div>
